.ansible/
Code/
CosmicComics/
antimicrox/
autostart/
chromium/
dconf/
dolphinrc
enchant/
faugus-launcher/
go/
google-chrome/
gtk-3.0/
hayase/
htop/
kde.org/
kdeconnect/
knfsshare
landrop-v2-electron/
lxqt/
network_virtmanager/
pavucontrol.ini
pulse/
pypoetry/
rclone/
rustdesk/
stremio-enhanced/
sunshine/
trashrc
uv/
xarchiver/
